<nav class="w-full bg-[#579BB1] h-16 flex items-center shadow-inner">
  <div class="container mx-auto flex items-center justify-between">
    <section class="flex items-center ml-6">
      <a href="/"> <img class="h-11" src="../../img/logo.png" alt=""> </a>
      <a href="/"> <p class="text-xl pl-2">Game Score</p> </a>
    </section>
    <section class="mr-6">
      <a class="login text-lg" href="/user/sesion">Iniciar Sesión</a>
      <img class="menuBtn h-11 hidden" src="../../img/user.png" alt="">
      {{!-- <div id="menuUser" class="hidden">
        <p class="logout text-lg hover:cursor-pointer">Cerrar Sesión</p>
        <p class="profile text-lg hover:cursor-pointer">Perfil</p> 
      </div> --}}

    </section>
  </div>
</nav>

<div id="menuUser" class="hidden">
  <p class="logout text-lg hover:cursor-pointer">Cerrar Sesión</p>
  <p class="profile text-lg hover:cursor-pointer">Perfil</p> 
</div>
